<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/BD_Hibernate?createDatabaseIfNotExist=true</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Root</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        
        <mapping class="entities.Modulo"/>
        <mapping class="entities.Centro"/>
        <mapping class="entities.Alumno"/>
        <mapping class="repositories.Repository"/>
    </session-factory>
</hibernate-configuration>